@import url('global.css');

body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

header{
    width: 100%;
    height: 64px;
    box-shadow: var(--box-shadow)
}

article{
    box-sizing: border-box;
    max-width: var(--max-page-width);
    width: 100%;
    min-width: var(--min-page-width);
    padding: 0 1rem;
}

#content{
    overflow: auto;
}

blockquote{
    font-size: var(--light-font-size);
    line-height: var(--light-line-height);
    color: var(--light-font-color);

    box-sizing: border-box;
    padding: 0 1rem;
    margin: 1rem 0;

    /* background: var(--thin-color); */
    border-left: 2px solid var(--middle-color);
    /* border-radius: 0 5px 5px 0; */
}

blockquote p{
    margin: 0;
    padding: calc(var(--light-font-size)/2) 0;
}

table{
    width: 100%;
    border: 1px solid var(--border-color);

    border-radius: 5px;
    border-spacing: 0;
}

thead{
    background-color: rgb(250, 250, 250);
    border-radius: 5px 5px 0 0;
}

tbody tr{
    transition: all 200ms ease-in-out;
}

tbody tr:hover{
    background-color: var(--thin-color);
}

tbody tr:last-child td{
    border: none;
}

th, td{
    padding: 0.75rem 1rem;

    border-bottom: 1px solid var(--border-color);
}

th{
    font-size: var(--normal-font-size);
    line-height: var(--normal-line-height);
    font-weight: var(--bold-font-weight);
}

th:first-child{
    border-radius: 5px 0 0 0;
}

th:last-child {
    border-radius: 0 5px 0 0;
}

td{
    font-size: var(--light-font-size);
    line-height: var(--light-line-height);
}

strong{
    font-weight: var(--bold-font-weight);
}

em{
    color: var(--light-font-color);
}

li{
    margin: 0.5rem 0;
}
li p, li pre{
    margin: 0;
}

pre{
    background: var(--thick-color);
    width: 100%;
    overflow: auto;
    padding: 0.5rem 1rem;

    border-radius: 5px;
}

code{
    font-size: var(--light-font-size);
    line-height: var(--light-line-height);
    font-family: Menlo, Monaco, 'Courier New', monospace;
    background: var(--thick-color);
    color: #c0c5ce;
    padding: 0.2rem 0.5rem;

    border-radius: 5px;
  }
  